<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="nima.presentation.NimaModelWizardID"
            name="%_UI_NimaModelWizard_label"
            class="nima.presentation.NimaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NimaModelFile.gif">
         <description>%_UI_NimaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="nima.presentation.NimaEditorID"
            name="%_UI_NimaEditor_label"
            icon="icons/full/obj16/NimaModelFile.gif"
            extensions="nima"
            class="nima.presentation.NimaEditor"
            contributorClass="nima.presentation.NimaActionBarContributor">
      </editor>
   </extension>

</plugin>
